## DB接続

```sh
pip install mysql-connector-python
```

In [1]:
import warnings
warnings.filterwarnings("ignore", category=UserWarning)
import os
import sys
import mysql.connector
import numpy as np
import pandas as pd
from dotenv import load_dotenv
sys.path.append(os.path.join(os.getcwd(), "../00_function"))
import my_func
## .envファイル読込み
load_dotenv()
user_name = os.environ["NAME"]
user_pw= os.environ["PW"]
terget_db = "py_db"
## タプル変換用　st.join(x)
st=''

In [5]:
## データベース接続    
mydb = mysql.connector.connect(host="localhost",user=user_name,password=user_pw,database=terget_db)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x1056e10c0>

In [4]:
## データベースの確認  
mydb = mysql.connector.connect(host="localhost",user=user_name,password=user_pw,database=terget_db)
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
result_list = []
for x in mycursor:
  result_list.append(st.join(x))
print(result_list)

['customers']

In [3]:
## "customers" テーブルからすべてのレコードを選択し、結果を表示(df)
mydb = mysql.connector.connect(host="localhost",user=user_name,password=user_pw,database=terget_db)
sql = "SELECT * FROM {table_name}".format(table_name="customers")
# pandas でMySQLテーブルを読む
df_read = pd.read_sql(sql, mydb)
df_read

    id      name          address
0    1      John       Highway 21
1    2     Peter      Lowstreet 4
2    3       Amy     Apple st 652
3    4    Hannah      Mountain 21
4    5   Michael       Valley 345
5    6     Sandy     Ocean blvd 2
6    7     Betty    Green Grass 1
7    8   Richard       Sky st 331
8    9     Susan       One way 98
9   10     Vicky  Yellow Garden 2
10  11       Ben     Park Lane 38
11  12   William   Central st 954
12  13     Chuck    Main Road 989
13  14     Viola     Sideway 1633
14  15  Michelle     Blue Village

In [4]:
wb_path = "output.xlsx"
my_func.write_dataframe_to_excel(df_read,wb_path)
my_func.write_excel(wb_path,'sheet_py')

データが output.xlsx に保存されました。